force-app/main/default/flows/Case_Approval_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_EMI_Transactions</name>
        <label>Create EMI Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CreateEMITransactions</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>financialAccountId</name>
            <value>
                <elementReference>$Record.Financial_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newEMI</name>
            <value>
                <elementReference>$Record.New_EMI__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateEMITransactions</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Case Approval Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Approval Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Financial_Account</name>
        <label>Update Financial Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_EMI_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Financial_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AmountDue</field>
            <value>
                <elementReference>$Record.New_EMI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term</field>
            <value>
                <elementReference>$Record.New_Term__c</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccount</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Financial_Account</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
