force-app/main/default/flows/Confirm_Loan_Restructuring.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invokeVerifyOtpClass</name>
        <label>invokeVerifyOtpClass</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VerifyOTPService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_OTP_Valid</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>enteredOtp</name>
            <value>
                <elementReference>enteredOtp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VerifyOTPService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Option_B_Values</name>
        <label>Option B Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newEMI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optionBEMI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>204.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tenure Increased by 2 Years</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutstanding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optionBNewOutstanding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Party</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Option_C_Values</name>
        <label>Option C Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newEMI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optionCEMI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>180.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3 Month Moratorium Applied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutstanding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optionCNewOutstanding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Party</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Confirmation_Message</name>
        <label>Set Confirmation Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>confirmationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Loan restructuring confirmed.  Option {!selectedOption} selected.  New EMI is {!newEMI}. Tenure updated  to {!newTerm} months. Relationship  Manager will call within 24 hours.  Case created successfully.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Details.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Option_A_Values</name>
        <label>Set Option A Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newEMI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optionAEMI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>192.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tenure Increased by 1 Year</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOutstanding</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>optionANewOutstanding</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Party</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OTP_Valid</name>
        <label>Check OTP Valid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Invalid OTP</defaultConnectorLabel>
        <rules>
            <name>Valid_OTP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invokeVerifyOtpClass.isValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Option_Selected</targetReference>
            </connector>
            <label>Valid OTP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Option_Selected</name>
        <label>Which Option Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Invalid Option</defaultConnectorLabel>
        <rules>
            <name>Option_A</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Option_A_Values</targetReference>
            </connector>
            <label>Option A</label>
        </rules>
        <rules>
            <name>Option_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Option_B_Values</targetReference>
            </connector>
            <label>Option B</label>
        </rules>
        <rules>
            <name>Option_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Option_C_Values</targetReference>
            </connector>
            <label>Option C</label>
        </rules>
    </decisions>
    <description>Confirms the EMI and creates the RM task.</description>
    <environments>Default</environments>
    <interviewLabel>Confirm Loan Restructuring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Confirm Loan Restructuring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Details.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Customer requested loan restructuring.  {!optionDescription}.  New EMI: {!newEMI}.  New Tenure: {!newTerm} months.  New Outstanding Amount: {!newOutstanding}. Please review and approve or reject  this request.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account__c</field>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_EMI__c</field>
            <value>
                <elementReference>newEMI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Outstanding_Amount__c</field>
            <value>
                <elementReference>optionCNewOutstanding</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Term__c</field>
            <value>
                <elementReference>newTerm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Selected_Option__c</field>
            <value>
                <elementReference>selectedOption</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Loan Restructuring Request - {!optionDescription}</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_RM_Task</name>
        <label>Create RM Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Confirmation_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>{!Get_Account_Details.Name} confirmed  loan restructuring. {!optionDescription}.  New EMI is {!newEMI}. New tenure is  {!newTerm} months. Please call customer  within 24 hours.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Account_Details.Relationship_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>RM Callback - Loan Restructuring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Details</name>
        <label>Get Account Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account_Party.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Party</name>
        <label>Get Account Party</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinancialAccountParty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Details</name>
        <label>Get Case Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_RM_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>invokeVerifyOtpClass</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the case number</description>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>stores the confirmation message</description>
        <name>confirmationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current monthly EMI amount from EMI calculation</description>
        <name>currentEMI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>enteredOtp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Salesforce ID of customers active home loan record</description>
        <name>financialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Created Case ID (working variable)</description>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newEMI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newOutstanding</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>New EMI amount for Option A tenure extended by 1 year</description>
        <name>optionAEMI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>New outstanding for Option A</description>
        <name>optionANewOutstanding</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total interest for Option A</description>
        <name>optionATotalInterest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>New EMI amount for Option B tenure extended by 2 years</description>
        <name>optionBEMI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>New outstanding for Option B</description>
        <name>optionBNewOutstanding</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Total interest for Option B</description>
        <name>optionBTotalInterest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>New EMI amount for Option C 3 month moratorium</description>
        <name>optionCEMI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>New outstanding after moratorium</description>
        <name>optionCNewOutstanding</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>optionDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Relationship Manager User ID (working variable)</description>
        <name>rmId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Option selected by customer A B or C</description>
        <name>selectedOption</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
