force-app/main/default/flows/Financial_Account_Transaction_Manegment_After_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Debit_Credit</name>
        <label>Check Debit Credit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Saving_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DebitCreditIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialAccount.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Savings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FinancialAccountBalance</targetReference>
            </connector>
            <label>Check For Saving Debit</label>
        </rules>
        <rules>
            <name>Check_for_Saving_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DebitCreditIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialAccount.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Savings</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FinancialAccountBalance_SC</targetReference>
            </connector>
            <label>Check for Saving Credit</label>
        </rules>
        <rules>
            <name>Check_For_CC_Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DebitCreditIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialAccount.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FinancialAccountBalance_CCD</targetReference>
            </connector>
            <label>Check For CC Debit</label>
        </rules>
        <rules>
            <name>Check_For_CC_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DebitCreditIndicator</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinancialAccount.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Card</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FinancialAccountBalance_CCC</targetReference>
            </connector>
            <label>Check For CC Credit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>creditFromCredit</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!get_Parent_Account.Total_Available_Amount__c}), 0, 
{!get_Parent_Account.Total_Available_Amount__c}) 
+ 
IF(ISNULL({!$Record.Amount}), 0, {!$Record.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>debitFromCredit</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!get_Parent_Account.Total_Available_Amount__c}), 0, 
{!get_Parent_Account.Total_Available_Amount__c}) 
- 
IF(ISNULL({!$Record.Amount}), 0, {!$Record.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>savingCredit</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!get_Parent_Account.Total_Available_Amount__c}), 0, 
{!get_Parent_Account.Total_Available_Amount__c}) 
+ 
IF(ISNULL({!$Record.Amount}), 0, {!$Record.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>savingDebit</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!get_Parent_Account.Total_Available_Amount__c}), 0, 
{!get_Parent_Account.Total_Available_Amount__c}) 
- 
IF(ISNULL({!$Record.Amount}), 0, {!$Record.Amount})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Financial Account Transaction Manegment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financial Account Transaction Manegment (After Trigger)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Balance_Account</name>
        <label>Create Balance Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Financial_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>savingDebit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BalanceAsOfDate</field>
            <value>
                <elementReference>$Record.TransactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinancialAccountId</field>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Available Balance</stringValue>
            </value>
        </inputAssignments>
        <object>FinancialAccountBalance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Balance_Account_CCC</name>
        <label>Create Balance Account CCC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Financial_Account_CCC</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>creditFromCredit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BalanceAsOfDate</field>
            <value>
                <elementReference>$Record.TransactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinancialAccountId</field>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Available Balance</stringValue>
            </value>
        </inputAssignments>
        <object>FinancialAccountBalance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Balance_Account_CCD</name>
        <label>Create Balance Account CCD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Financial_Account_CCD</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>debitFromCredit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BalanceAsOfDate</field>
            <value>
                <elementReference>$Record.TransactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinancialAccountId</field>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Available Balance</stringValue>
            </value>
        </inputAssignments>
        <object>FinancialAccountBalance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Balance_Account_SC</name>
        <label>Create Balance Account SC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Financial_Account_SC</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>savingCredit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BalanceAsOfDate</field>
            <value>
                <elementReference>$Record.TransactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinancialAccountId</field>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Available Balance</stringValue>
            </value>
        </inputAssignments>
        <object>FinancialAccountBalance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_FinancialAccountBalance</name>
        <label>Get FinancialAccountBalance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Balance_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinancialAccountBalance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FinancialAccountBalance_CCC</name>
        <label>Get FinancialAccountBalance CCC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Balance_Account_CCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinancialAccountBalance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FinancialAccountBalance_CCD</name>
        <label>Get FinancialAccountBalance CCD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Balance_Account_CCD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinancialAccountBalance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FinancialAccountBalance_SC</name>
        <label>Get FinancialAccountBalance SC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Balance_Account_SC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinancialAccountBalance</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Parent_Account</name>
        <label>get Parent Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Debit_Credit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinancialAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Financial_Account</name>
        <label>Update Financial Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Available_Amount__c</field>
            <value>
                <elementReference>savingDebit</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccount</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Financial_Account_CCC</name>
        <label>Update Financial Account CCC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedFinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Available_Amount__c</field>
            <value>
                <elementReference>savingCredit</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccount</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Financial_Account_CCD</name>
        <label>Update Financial Account CCD</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedFinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Available_Amount__c</field>
            <value>
                <elementReference>savingDebit</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccount</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Financial_Account_SC</name>
        <label>Update Financial Account SC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedFinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FinancialAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Available_Amount__c</field>
            <value>
                <elementReference>savingCredit</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccount</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Parent_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DebitCreditIndicator</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>FinancialAccountTransaction</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
