force-app/main/default/flows/Updating_Case_Record_with_OCR_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_File_Data</name>
        <label>Get File Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DocumentAIProcessor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Data_Exists</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DocumentAIProcessor</nameSegment>
        <outputParameters>
            <assignToReference>BankInformation</assignToReference>
            <name>bankInfo</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CheckInDate</assignToReference>
            <name>checkInDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CheckOutDate</assignToReference>
            <name>checkOutDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GSTRegistrationNumberHotel</assignToReference>
            <name>gstRegNo</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GuestName</assignToReference>
            <name>guestName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>HotelName</assignToReference>
            <name>hotelName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>InvoiceDate</assignToReference>
            <name>invoiceDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>InvoiceNumber</assignToReference>
            <name>invoiceNo</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>InvoiceReferenceNumber</assignToReference>
            <name>irnNo</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PanNumberClient</assignToReference>
            <name>panNoClient</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>PanNumberHotel</assignToReference>
            <name>panNoHotel</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalFare</assignToReference>
            <name>totalFare</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>Empty_Message</name>
        <label>Empty Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emptyMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The image you uploaded doesn&apos;t look like a hotel bill or is empty.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Fault_path_1</name>
        <label>Fault path 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>emptyMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There was an error please try again in sometime</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>successMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your request has been registered with us and the disputed amount will be reverted back to your credit card.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Data_Exists</name>
        <label>Data Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Empty_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GuestName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckInDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InvoiceDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the case record with uploaded file data.</description>
    <environments>Default</environments>
    <formulas>
        <description>Stores the actual amount</description>
        <name>actualAmount</name>
        <dataType>Currency</dataType>
        <expression>{!TotalFare}+{!disputedAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Updating Case with OCR Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updating Case Record with OCR Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_File_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_path_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SuppliedPhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>mobilePhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Amount__c</field>
            <value>
                <elementReference>TotalFare</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Information__c</field>
            <value>
                <elementReference>BankInformation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_in_Date__c</field>
            <value>
                <elementReference>CheckInDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_out_Date__c</field>
            <value>
                <elementReference>CheckOutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>INR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispute_Type__c</field>
            <value>
                <stringValue>Overcharged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Disputed_Amount__c</field>
            <value>
                <elementReference>disputedAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Type__c</field>
            <value>
                <stringValue>Hotel Bill</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Account_Transaction__c</field>
            <value>
                <elementReference>transactionID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GST_Registration_Number_Hotel__c</field>
            <value>
                <elementReference>GSTRegistrationNumberHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Guest_Name__c</field>
            <value>
                <elementReference>GuestName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hotel_Name__c</field>
            <value>
                <elementReference>HotelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Date__c</field>
            <value>
                <elementReference>InvoiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Number__c</field>
            <value>
                <elementReference>InvoiceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Reference_Number__c</field>
            <value>
                <elementReference>InvoiceReferenceNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Number_Client__c</field>
            <value>
                <elementReference>PanNumberClient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PAN_Number_Hotel__c</field>
            <value>
                <elementReference>PanNumberHotel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>New problem</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Fare__c</field>
            <value>
                <elementReference>actualAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the Bank Information</description>
        <name>BankInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the check in date</description>
        <name>CheckInDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores the check out date</description>
        <name>CheckOutDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the disputed amount</description>
        <name>disputedAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>stores the empty message that the uploaded file is empty</description>
        <name>emptyMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the GST Registration Number of the Hotel</description>
        <name>GSTRegistrationNumberHotel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Guest Name</description>
        <name>GuestName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the hotel name</description>
        <name>HotelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Invoice Date</description>
        <name>InvoiceDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Invoice Number</description>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Invoice Reference Number</description>
        <name>InvoiceReferenceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the mobile number</description>
        <name>mobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Pan number of the Client</description>
        <name>PanNumberClient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Pan number of the Client</description>
        <name>PanNumberHotel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the success message for uploaded image</description>
        <name>successMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the total fare</description>
        <name>TotalFare</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Stores the transaction id</description>
        <name>transactionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
